.contactItem {
  width: 100%;
  display: flex;
  align-items: center;
}

.contactName {
  font-size: 20px;
  color: #DF9A81 ;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  margin-right: 10px;
}

.contactIcon {
  height: 20px;
  margin-right: 10px;
}

.contactNumber {
  font-size: 15px;
  color: #59514F;
}

.contactButton {
  margin-right: 30px;
  margin-left: auto;
  border: none;
  border-radius: 50px;
  background-color: white;
  transition: transform .15s;
  color: #59514F;
}

.contactButton:hover,
.contactButton:focus {
  transform: scale(1.3);
  transition: transform .5s;
}

.deleteIcon {
  height: 25px;
}
