.mainContainer {
  width: 700px;
  padding: 20px;
  border: #A69792 3px solid;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;

  -webkit-box-shadow: 0 0 16px 8px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0 0 16px 8px rgba(34, 60, 80, 0.2);
  box-shadow: 0 0 16px 8px rgba(34, 60, 80, 0.2);
}

h1 {
  font-family: 'Kalam', cursive;
  font-size: 40px;
  color: #59514F;
  margin: 10px 3px 3px 3px;
}

h2 {
  font-family: 'Kalam', cursive;
  font-size: 30px;
  color: #59514F;
  margin: 30px 3px 3px 3px;
}

